name: Global Docker Build & Push

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      gitea_registry:
        required: true
        type: string
      release_tag:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # -------------------------
      # Login to GitHub Registry
      # -------------------------
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # -------------------------
      # Login to Gitea Registry
      # -------------------------
      # - name: Login to Gitea Registry
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ${{ inputs.gitea_registry }}
      #     username: ${{ secrets.GITEA_REGISTRY_USER }}
      #     password: ${{ secrets.GITEA_REGISTRY_TOKEN }}

      # -------------------------
      # Build & Push
      # -------------------------
      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ inputs.release_tag }}
            ghcr.io/${{ github.repository }}:latest
            # ${{ inputs.gitea_registry }}/${{ inputs.image_name }}:${{ inputs.release_tag }}
            # ${{ inputs.gitea_registry }}/${{ inputs.image_name }}:latest
